.modelviewbackground{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mainimagebackground{
    background-image: url('./ItemSearchBackground.jpg');
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    position: absolute;
    color: white;
    position: relative;
    animation-name: searchboxmover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: searchboxmover;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}





.itemmodelsmain{
    left: 15%;
    top: 10%;
    position: absolute;
}
.questsmain{
   right: 15%;
    top: 10%;
    position: absolute;
}
.mobmodelsmain{
    left: 18%;
    bottom: 12%;
    position: absolute; 
}
.mobinfomain{
    right: 15%;
    bottom: 12%;
    position: absolute;
}
.maintilesflex{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
.modelviewersearchbutton{
    border-style: solid;
    border-color: black;
    background-color: tan;
    color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.modelviewersearchbutton:hover{
    color: blue;
    background: rgb(255, 255, 255);
}

.modelviewertitles{
    font-family: "Camelot", sans-serif;
    color: rgb(255, 0, 0);
font-size: 2em;
font-weight: bold;
}


.modalsmainbox{
    width: 90%;
    height: 90%;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 3;
    border-color: white;
    border-style: solid;
    left: 5%;
    top: 5%;
    animation-name: searchboxmover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: searchboxmover;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.modalCloserX{
position: absolute;
 right: 2%;
 bottom: 86%;
 font-size: 3em;
 animation-name: xrotator;
 animation-duration: 0.5s;
 animation-fill-mode: forwards;
 animation-delay: 1s;
 -webkit-animation-name: xrotator;
 -webkit-animation-duration: 0.5s;
 -webkit-animation-fill-mode: forwards;
 -webkit-animation-delay: 1s;
 cursor: pointer;
 color: white;

}

@keyframes xrotator {
   0%{ transform: rotate(0deg);
   font-size: 3em;
   }
   50%{
font-size: 5em;
   }
   100% { transform: rotate(405deg);
    font-size: 3em;
    }
}
@-webkit-keyframes searchboxmover {
    0%{ transform: rotate(0deg);
        font-size: 3em;
        }
        50%{
     font-size: 5em;
        }
        100% { transform: rotate(405deg);
         font-size: 3em;
         }
}

.modalCloserX:hover{
    color: red;
  }

@keyframes searchboxmover {
    0% {
        width: 50%;
        height: 50%;
        left: 25%;
    top: 25%;
    }
    75% {
        width: 95%;
        height: 95%;
        left: 2.5%;
    top: 2.5%;
    }
  
    100% {
        width: 90%;
        height: 90%;
    }
  }
  @-webkit-keyframes searchboxmover {
    0% {
        width: 50%;
        height: 50%;
        left: 25%;
    top: 25%;
    }
    75% {
        width: 95%;
        height: 95%;
        left: 2.5%;
        top: 2.5%;
    }
  
    100% {
        width: 90%;
        height: 90%;
    }
  }
  