.accountsbuttons {
  cursor: pointer;
  width: auto;
  padding: 5px;
}
.accountsbuttons:hover {
  border-style: solid;
  border-color: white;
}

.accountlistorganizer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

.accounttoolbackground {
  background-image: url('./daoccharacterselect.JPG');
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position-x: 5vw;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.accountSelector {
  width: 60%;
  background-color: black;
  height: 60%;

  top: 20vh;
  position: absolute;
  animation-name: viewMover;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  -webkit-animation-name: viewMover;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;

}

@keyframes viewMover {
    0% {
        left: 200vw;
    }
      100% {
        left: 20vw;
      }
    }
@-webkit-keyframes viewMover {
    0% {
        left: 200vw;
    }
      100% {
        left: 20vw;
      }
    }
