@font-face {
  font-family: "nitti";
  src: url("./Nitti_Font/nitti-webfont.eot");
  src: url("./Nitti_Font/nitti-webfont.eot?#iefix") format("embedded-opentype"),
    url("./Nitti_Font/nitti-webfont.woff") format("woff"),
    url("./Nitti_Font/nitti-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
