@font-face {
  font-family: "nitti";
  src: url("./Nitti_Font/nitti-webfont.eot");
  src: url("./Nitti_Font/nitti-webfont.eot?#iefix") format("embedded-opentype"),
    url("./Nitti_Font/nitti-webfont.woff") format("woff"),
    url("./Nitti_Font/nitti-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "camelot";
  src: url('./Camelot Font/C_BOX_D.TTF') format("truetype"), url('./Camelot Font/C_BOX.TTF') format("truetype");
}